{% extends "admin_panel_base.html" %}
{% block admin_page_base %}
<div id="new_task_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Task</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="new_task" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">To:</label>
                        <div class="col-sm-9">
                            <div class="form-control" name="receiver" id="receiver">
                                <div id="appended_receivers">
                                    {{receivers}}
                                </div>
                                <input type="text" style="width:100%; border:none; outline:none;" oninput="searchReceivers(value)" id="search_receiver">
                                <input type="text" hidden name="total_receivers" id="total_receivers" value="">
                                <input type="text" hidden name="total_receivers_category" id="total_receivers_category" value="">
                            </div>
                        </div>
                    </div>
                    <script>
                        var search_count = 0;
                        var total_receivers_array = [];
                        var total_receivers_category_array = [];
                        var exclude_array = [];
                        console.log(search_count);
                    </script>
                    <div id="receivers">
                        {{receivers}}
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Title:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="title" id="title" type="text"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Type:</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="type" id="type" type="text">
                                <option value="Individual">Individual</option>
                                <option value="Group">Group</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Due Date:</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="due_date_time" id="due_date_time" type="datetime-local">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">Message:</label>
                        <textarea class="form-control" rows="5" name="message" id="message"></textarea>
                    </div>
                    <div class="container" align="center">
                        <button class="btn btn-info" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="view_task_modal" class="modal fade">
    <div class="modal-dialog" style="max-width:1000px;">
        <div id="task_content" class="modal-content">
            1
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-body" style="border-bottom-style:solid; border-bottom-color:lightgrey; border-bottom-width:1px; background-color:aliceblue;">
            <div style="display:flex; align-items:baseline; justify-content: space-between; margin: 0px 10px;">
                <h5>Task Assignment</h5>
                <div style="display:flex; align-items:baseline; justify-content: space-between;">
                    <button style="margin-right: 10px;" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#new_task_modal">New Task</button>
                    <form method="POST">
                        <input type="hidden" name="action" value="change_view">
                        <input type="hidden" name="view" value="employee_profiles">
                        <div class="input-group" style="max-width:300px;">
                                <input class="form-control" type="text" id="search_value" value="{{search_value}}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="searchTask()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!--                <hr style="margin:0px;">-->
        <div class="accordion-body" style="display:flex; flex-wrap:wrap;">
            {% if employee_tasks %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in employee_tasks %}
                    <tr class="row-item" onclick="readTask('{{row.id}}')" data-toggle="modal" data-target="#view_task_modal">
                        <td scope="row">{{row.id}}</td>
                        <td>{{row.title}}</td>
                        <td>{{row.created_by}}</td>
                        <td>{{row.date_time_created}}</td>
                        <td>{{row.due_date_time}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.type}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>No Tasks</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}